{% extends "layout.html" %}
{% block title %}View Board{% endblock %}
{% block body %}
	<div class="container">
		<div class="card border-secondary mb-3">
		  <div class="card-header bg-transparent border-secondary">
		    {{ board.author.username }}
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p>{{ board.board_name }}</p>
		    </blockquote>  
		    <footer><small class="text-muted">{{ board.create_date }}</small></footer>
		  </div>
		</div>
		<br>
		<h5>Comments</h5>
			{% for comment in comments %}
		    <div class="comment">
		        <strong>{{ comment.author.username }}</strong>
		        <p>{{ comment.text }}</p>
		    </div>
		{% else%}
		    <p>No comments here yet</p>
		{% endfor %}		
	<a class="badge badge-success" href="{{ board.id }}/add_comment" class="button">Add comment</a>
{% endblock %}